@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --login-bg: #f8f3ff;
    --title-bg: #9089cc;
    --button-bg: #674baf;
    --light-pink: #e882e8;
    --image-bg: #eadbff;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb, 100%);
}

.login-container {
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.image-container {
    width: 50%;
    padding-top: 2rem;
    background-color: var(--image-bg);
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    
}